<!-- HOME START-->
        {% for home in skills %}
<section class="bg-home bg-light d-table w-100" style="background-image:url('{{home.home_picture.url}}')" id="home">
    <div class="container">
        
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="title-heading mt-5">
                    <h6 class="sub-title">{{ home.title_skills }}</h6>
                    <h1 class="heading text-primary mb-3">{{ home.full_name }}</h1>
                    <p class="para-desc text-muted">{{ home.about_us }}</p>
                    <div class="mt-4 pt-2">
                        <a href="javascript:void(0)" class="btn btn-primary rounded mb-2 mr-2">Hire me</a>
                        <a href="{{home.your_cv.url}}" class="btn btn-outline-primary rounded mb-2">Download CV <i data-feather="download" class="fea icon-sm"></i></a>
                    </div>
                </div>
            </div><!--end col-->
            {% empty %}
                    <h1>Sorry, no image.</h1>
        {% endfor %}
        </div><!--end row-->
    </div><!--end container--> 
    <a href="#about" data-scroll-nav="1" class="mouse-icon rounded-pill bg-transparent mouse-down">
        <span class="wheel position-relative d-block mover"></span>
    </a>
</section><!--end section-->
<!-- HOME END-->